@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes warning-gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-warning-gradient {
  animation: warning-gradient 3s linear infinite;
}

/* Estilos para el efecto de polvo */
.dust {
  position: absolute;
  pointer-events: none;
  background: radial-gradient(circle, rgba(255, 215, 0, 0.1) 0%, transparent 70%);
  border-radius: 50%;
  animation: float 5s infinite;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }
  50% {
    transform: translateY(-20px) rotate(180deg);
  }
}

